
body {
    font-family: "Montserrat";
}

#title {
    background: #f3075d;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 150px;
}

h2 {
    font-family: "Montserrat";
    font-size: 2rem;
    color: #fff;
    line-height: 1.5;
}

h3 {
    color: #fff;
    font-family: "Montserrat";
    font-size: 2rem;

}
.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    padding-left: 0;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    margin: 0 3% 0 3%;
}

.download-button {
    margin-right: 50px;
}

.container-image {
    width: 60%;
    transform: rotate(30deg);
}

#features {
    padding: 50px 50px;
}

.features-row {
    padding: 50px 100px;
}

.features-col {
    text-align: -webkit-center;
}

.features-col p {
    width: 50%;
    color: grey;
}

.fa {
    color: rgba(236, 53, 7, 0.856);
    margin-bottom: 10px;
}

.fa:hover {
    color: #ff0a2b;
}

/* Testimonial session */
#testimonials {
    background-color:#f3075d ;
    text-align: center;
    padding: 5% 10%;
}

.testimonial-image {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 2% 2%;
}

#cta {
    
    background-color:#f3075d ;
    text-align: center;
    padding: 5% 10%;
    font-family: "Montserrat";
    padding: 100px;
}

.cta-button {
    margin-right: 50px;
}